<div class="summary-wrapper">
    <div class="details-image">
        <img src="https://i.ebayimg.com/images/g/oNMAAOSwf8BgtAQt/s-l1600.jpg" alt="">
    </div>

    <section>
        <h2>Blue Eyes Whit Dragon</h2>
        <h3>LOB-001</h3>
        <h3>UR</h3>
        <h3>NM</h3>
        <h4>ENG</h4>

        <h2>$5000</h2>

        <div class="buy-button">
            <button>BUY</button>
        </div>

    </section>    
</div>

<p>
    card details...
</p>
