<h1>Welcome to YUGIMART</h2>

<h3>Login</h3>
<form action="/login" method="post">
    <label for="">Username:</label>
    <input type="text" name="username">

    <label for="">Password:</label>
    <input type="password" name="password" >

    <button>Login</button>
</form>
<h3>or</h3>
<form action="/market">
    <button>Continue as Guest</button>
</form>