<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,500;1,800&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <form action="/market">
            <button>Home</button>
        </form>

        <% if (isLoggedIn) { %>
            
            <p>Logged in as: <%= currentUserDetails.username%></p>

            <form action="/logout?_method=delete" method="post">
                <button>Logout</button>
            </form>
            


        <% } else { %>
        
            <form action="/login">
                <button>Login</button>
            </form>

            <form action="/login/new" method="get">
                <button>Create Account</button>
            </form>
            
        <% } %>    

        
    </header>
    
    <h2 class="title">YUGIMART</h3>

    <div class="main-content">

        <%- body %>
    </div>

    <footer>
        <h4>yugimart collective</h6>
    </footer>
</body>
</html>